<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 
  <ion-list>
    <ion-item *ngFor= "let produto of bd.produtos">
      <ion-grid [routerLink]="['/proddetalhe', produto.codigo]">
        <ion-row>
          <ion-col >
            <ion-avatar>
              <img src="{{ produto.imagem }}">
            </ion-avatar>
          </ion-col>
          <ion-col >
            <ion-label>{{produto.nome}}</ion-label>
            <ion-label>{{produto.ingredientes}}</ion-label>
            <ion-label>R${{produto.preco}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
